################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/CSharpApp/.vs
/src/CSharpApp/bin/Debug
/src/CSharpApp/obj/Debug
/src/CSharpApp/packages/Newtonsoft.Json.13.0.4
