body { font-family: 'Microsoft YaHei'; }
.mainContent { background-color: #eaeaea; padding-bottom: 50px; }
.clear { clear: both; }
.section1 { width: 50%; float: left; }
.section2 { width: 50%; float: left; }
.sdkCard { margin-top: 20px; }
.sdkCard .main { border: 1px solid black; background: #F7F7F7; border-radius: 7px; margin: 10px; padding: 5px; }
.sdkCard a { background-color: #0078d7; color: #fff; border-radius: 4px; display: block; float: left; min-width: 70px; margin: 10px; padding: 5px; text-align: center; cursor: pointer; }
.sdkCard a:hover { background-color: #108EE9; }
.sdkCard input[type=text] { border-radius: 4px; display: block; float: right; min-width: 70px; margin: 10px; padding: 5px; }
.sdkCard .mgselect { border-radius: 4px; display: block; float: left; min-width: 70px; margin: 10px; padding: 5px; text-align: center; cursor: pointer; font-size: 16px; }
.sdkCard .product a { padding: 0 5px; font-size: 13px; } 
.sdkCard .payment select { background-color: #0078d7; color: #fff; border-radius: 4px; display: block; float: right; min-width: 70px; margin: 10px; padding: 5px; }
.sdkCard .payment select option{ background-color: white; color: black; margin: 10px; padding: 5px; }
#txtResultMsg { height: 700px; width: calc(100% - 5px); resize: none; }
.popLayer { display: none; background-color: #0d0d0d; position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 999; -moz-opacity: 0.5; opacity: .5; filter: alpha(opacity=5); }